@media all and (max-width: 800px){
    main{
        width: 100%;
    }

    .gauche{
        position: relative;
        width: 100%;
        align-items: center;
    }

    .photo img{
        width: 110px;
        position: absolute;
    }

   .titre{
       margin: auto;
    }

    .contact{
        margin-top: 30px;
        width: 70%;
    }

    .propos{
        margin-top: 170px;
        width: 70%;
    }

    .colonnes{
        column-count: 2;
    }

    .loisirs{
        margin-top: 140px;
        width: 70%;
    }

    .droite{
        margin: auto;

    }


@media all and (max-width: 600px){


    .propos{
        margin-top: 170px;
    }

    .loisirs{
        margin-top: 180px;
    }

    .bloc{
        display: flex;
        flex-wrap: wrap;
    }

    .bloc-1{
        flex: 1;
    }

    .bloc-2{
        flex: 12;
    }

    .bloc-3{
        flex: 40;
    }
}