/* A CORRIGER

main{
    display: flex;
	flex-wrap: wrap;
    width: 80%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #777;
}


header{
    display: flex;
    z-index: 1;
    margin-top: 2em;
}

.photo img{
    width: 9em;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    border: solid rgb(85,139,47);
    margin-left: 50%;
}

.nom{
    line-height: 0.1em;
    margin-left: 12em;
}

.titre{
	color: rgb(139,195,74);
    font-weight: normal;
}


.separator{
	height: 2px;
	margin-left: ;
	margin-top: ;
	border: none;
	box-shadow: none;
	background-color: rgb(139,195,74);
}
  
.separator--1{
    width: 23%;
    margin-top: -8%;
}
  
.separator--2{
	width: auto;
    margin-top: -20px;
    margin-left: 40px;
    margin-right: 40px;
}


.container{
    display: flex;
    justify-content: start;
    height: auto;
}


.gauche{
    width: 30%;
    background-color: rgb(139,195,74);
    margin-top: -18.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact, .propos, .loisirs{
    background-color: #2E7D32;
    width: 100%;
    height: 2em;
}

.contact{
    margin-top: 0%;
}

.propos{
    margin-top: 5%%;
}

.loisirs{
    margin-top: 0%;
}

.icone_loisirs{
    color: #2E7D32;
    font-size: 1.7em;
    display: flex;
    justify-content: space-around;
}

.fa-dice-d20, .fa-dumbbell, .fa-leaf{
    border: 0.1em solid #2E7D32;
    border-radius: 50%;
    padding: 0.4em;
}

.clic{
    text-decoration: none;
	color: #424242;
}


.droite{
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bloc{
	display: flex;
	justify-content: space-between;
}

.bloc-1{
	flex: 1;
}

.bloc-2{
    flex: 10;
    margin-left: -25px;
}

.bloc-3{
    flex: 40;
    margin-right: 40px;
}

.bloc_H
{
	display: flex;
	justify-content: flex-start;
}

.bloc_H-2{
    margin-left: 90px;
}

.icone_pro{
    color: rgb(139,195,74);
    font-size: 1.2em;
}

.dot{
    color: rgb(139,195,74);
    font-size: 1.2em;
}

.point{
    color: rgb(139,195,74);
    font-size: 0.7em;
}

*/

/* BALISES SÉMENTIQUES */

body{
    display: flex;
    width: 80%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #777;
    font-family: "Helvetica", Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

footer{
    width: 36%;
    background-color: rgb(139,195,74);
    display: flex;
    flex-direction: column;
}

main{
    width: 64%;
    margin-left: 7%;
    margin-right: 5%;
}

header{
    margin-top: -7%;
}

section{
    margin-top: 5%;
}

/* DIV */

.photo{
    text-align: center;
    margin-top: 10%;
}

.photo img{
    width: 10em;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    border: solid rgb(85,139,47);
}

.perso{
    background-color: #2E7D32;
    color: rgb(139,195,74);
    text-align: center;
    padding: 0.6em;
}

.adresse{
    line-height: 1em;
    font-size: 1em;
    padding: 0.5em;
}

.colonnes{
    line-height: 1.5em;
    padding: 1em;
}

.icone_loisirs{
    color: #2E7D32;
    font-size: 1.7em;
    display: flex;
    justify-content: space-around;
}

.titre{
	color: rgb(139,195,74);
    font-weight: normal;
}

.fa-dice-d20, .fa-dumbbell, .fa-leaf{
    border: 0.1em solid #2E7D32;
    border-radius: 50%;
    padding: 0.4em;
}

.icone_pro{
    color: rgb(139,195,74);
    font-size: 1.5em;
    padding: 0px 20px 0px 0px;
}

.bloc{
	display: flex;
    justify-content: space-between;
    margin-left: -2.5em;
}

.bloc-1{
    flex: 1;
    color: rgb(139,195,74);
}

.bloc-2{
    flex: 10;
}

.bloc-3{
    flex: 45;
}

.clic{
    text-decoration: none;
    color: #424242;
}

.poste{
    line-height: 2.5em;
}

.bloc_H
{
    display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;
}


/* SEPARATOR */

.separator{
	height: 2px;
	border: none;
	box-shadow: none;
	background-color: rgb(139,195,74);
}
  
.separator--1{
    width: 4em;
    margin-top: -1em;
}
  
.separator--2{
    width: auto;
    margin-top: -0.5em;
}

/* CORPS DE TEXTE */

h1{

	font-weight: lighter;
    font-size: 2.5em;
    margin-top: 20%;
}

h2{
    font-weight: normal;
    font-size: 1.5em;
    margin-top: -2%;
}

h3{
    font-weight: normal;
	color:  rgb(23, 24, 22);
    margin-top: 4px;
}

p{
	color: #424242;
	font-size: 0.7em;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

ul{
	color: #424242;
	font-size: 0.7em;
	text-align: justify;
	list-style-type: none;
}

li{
	line-height: 1.5em;
}

a{
	color: #546E7A;
	font-weight: normal;
}

/* RESPONSIVE */

