/* BALISES SÉMENTIQUES */

body{
    display: flex;
    width: 80%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #777;
    font-family: "Helvetica", Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

footer{
    width: 36%;
    background-color: rgb(139,195,74);
    display: flex;
    flex-direction: column;
}

main{
    width: 64%;
    margin-left: 2em;
    margin-right: 2em;
    order: 1;
}

header{
    margin-top: -7%;
}

section{
    margin-top: 15%;
}



/* DIV DROITE */

.separator{
	height: 2px;
	border: none;
	box-shadow: none;
	background-color: rgb(139,195,74);
}
  
.separator--1{
    width: 4em;
    margin-top: -1em;
}
  
.separator--2{
    margin-top: -0.5em;
}

.titre{
	color: rgb(139,195,74);
    font-weight: normal;
}

.icone_pro{
    color: rgb(139,195,74);
    font-size: 1.5em;
    padding: 0px 20px 0px 0px;
}

.bloc{
    display: flex;
    margin-top: 0.4em;
}

.fa-dot-circle{
    font-size: 0.7em;
    color: rgb(139,195,74);
    margin-top: 1.9em;
}

.fa-circle{
    font-size: 0.5em;
    color: rgb(139,195,74);
    margin-top: 2.6em;
}

.year{
    margin-left: 1em;
    margin-top: 1.6em;
    flex: 1;
}

.select{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.poste{
    line-height: 2.5em;
    margin-top: -1.5em;
}

.txt{
    margin-top: -0.8em;
    line-height: 1.3em;
}

.bloc_rec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin-left: -2.5em;
}

/* DIV GAUCHE */

.photo{
    text-align: center;
    margin-top: 15%;
}

.photo img{
    width: 10em;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    border: solid 5px rgb(85,139,47);
}

.perso{
    background-color: #2E7D32;
    color: rgb(139,195,74);
    text-align: center;
    padding: 0.4em;
}

.adresse{
    line-height: 1em;
    padding: 0.5em 0em 0em 2.5em;
}

.colonnes{
    line-height: 1.5em;
    padding: 0.5em 3em 0em 3em;
}

.spacer{
    flex-grow: 1;
}

.loisir{
    margin-bottom: 10%;
}

.icone_loisirs{
    color: #2E7D32;
    font-size: 1.7em;
    display: flex;
    justify-content: space-around;
}

.fa-dice-d20, .fa-dumbbell, .fa-leaf{
    border: 0.1em solid #2E7D32;
    border-radius: 50%;
    padding: 0.45em;
}


/* DIV COMMUNES */

.clic{
    text-decoration: none;
    color: #424242;
}


/* CORPS DE TEXTE */

h1{

	font-weight: lighter;
    font-size: 2.5em;
    margin-top: 20%;
}

h2{
    font-weight: normal;
    margin-top: -1em;
}

h3{
    font-weight: normal;
    font-size: 1.4em;
}

h4{
    font-weight: normal;
    font-size: 1.1em;
    color: #424242;
}

p{
	color: #424242;
	font-size: 0.8em;
    text-align: justify;
}

a{
	color: #424242;;
	font-weight: normal;
}

ul{
    color: #424242;
	font-size: 0.8em;
    text-align: justify;
    list-style-type: none;
    line-height: 1.5em;
}

/* RESPONSIVE */

@media all and (max-width: 800px){
    body{
        flex-wrap: wrap;
    }

    main{
        order: -1;
        width: 87%;
        margin-left: 5%;
        margin-right: 0%;
    }

    footer{
        width: 100%;
    }

    .icone_loisirs{
        margin-bottom: 5%;
    }

    section{
        margin-top: 0%;
    }

    .photo{
    }

    .photo img{
        width: 110px;
    }

    .bloc{
        display: inline;
        flex-wrap: wrap;
        margin-left: 0em;
    }

    .year{
        margin-top: -1em;
        margin-left: 2em;
    }
}